@import url('https://fonts.googleapis.com/css?family=Overpass:100,400,900');

.search {
  top: 0;
  left: 0;
  right: 0;
  margin: 40px auto 0;
  max-width: 800px;
  width: 80%
}

.top {
  height: 300px;
  width: 100%;
  background: url('/static/img/bg.jpg');
  background-color: #1F2833;
  box-shadow: 0px 0px 6px #888888;
}

.item .item_type {
  color: #0B0C10;
  font-family: "Overpass", sans-serif;
}

.title {
  color: white;
  padding: 60px 0 0;
  margin: 0;
  letter-spacing: 0.2em;
  font-weight: 100;
  text-align: center;
  color: #66FCF1;
  font-family: "Overpass", sans-serif;
}

.subtitle {
  color: #f5f5f5;
  padding: 5px 0 0;
  margin: 0;
  letter-spacing: 0.2em;
  text-align: center;
}
