.search {
  top: 0;
  left: 0;
  right: 0;
  margin-top: 150px;
  width: 60%;
  position: absolute;
}

.top-search {
  width: 100%;
  background-color: lightgrey;
  height: 300px;
  overflow: hidden;
  text-align: center;
}

.top-search img {
  display: block;
  width: 100%;
  max-width: 1920px;
  margin: -150px auto;
}
