.search {
  top: 0;
  left: 0;
  right: 0;
  margin: 150px auto;
  position: absolute;
  width: 60%;
}

.top-search {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.top-search img {
  display: block;
  width: 100%;
  max-width: 1920px;
  margin: -150px auto;
}

.main-item {
  font-family: 'Bitter', serif;
}
