{% extends "components/base.html" %}
{% load static %}

{% block extra_styles %}
  <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block title %} Better Getter {% endblock %}

{% block content %}
<div class="container">
  <h1 class="title"> Better <b style="font-weight: 900;">Getter</b> </h1>

  <h3 class="subtitle"> built for Warframe </h3>
  <input class="form-control input-lg search typeahead" type="text" autocomplete="off" placeholder="Search for an Item">
</div>

<h6 class="footer"> created by <b>eqwert</b> </h6>
{% endblock %}

{% block extra_scripts %}
<script>
  $( "ul a" ).first().addClass("active");
</script>
{% endblock %}
