{% extends "components/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
  {{ item_name }} Details
{% endblock %}

{% block extra_styles %}
  <link href="{% static 'css/get_item.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="top">
  <h1 class="title"> Better <b style="font-weight: 900;">Getter</b> </h1>

  <h5 class="subtitle"> built for Warframe </h5>
  <input class="form-control input-lg search typeahead" type="text" autocomplete="off" placeholder="Search for an Item">
</div>

<div class="container">
  <center>
    {% if main_err %}
    <img src="{% static 'img/notFound.png' %}" style="padding-top: 50px; max-height: 300px;">
    <h2 class="item"> Sorry! That item was not found. </h2>
    {% else %}
    <img src="{{ src }}" style="padding-top: 50px; max-height: 300px;">
    <h2 class="item"> {{ item_name }} </h2>
    <h4 class="item_type"> {{ type }} </h4>
    {% if ducats != 0 %}
    <h3> {{ ducats }} <img style="height: 1em;" src="{% static 'img/duc.png' %}" /> </h3>
    {% endif %}

    <hr style="width: 50%">

    <div class="row">
      <div class="col-md-4">
        {% if ingame_sell_prices and online_sell_prices %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Sellers</h3>
          </div>

          <table class="table table-hover info-row">
            <tbody>
              {% for item in ingame_sell_prices %}
              <tr class="order">
                <td><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></td>
                <td><b style="float: left"> {{ item.name }} </b></td>
                <td>{{ item.price }} <img style="height: 1em;" src="{% static 'img/plat.png' %}" /></td>
                <td><span class="label label-success" style="float: right"><span>In-game</span></span></td>
              </tr>
              <tr class="details">
                <td></td>
                <td>Selling <b>{{ item.count }}</b></td>
                <td>{% if 'mod_rank' in item %}
                Rank <b>{{ item.mod_rank }}/{{ max_rank }}</b>
                {% endif %}</td>
                <td></td>
              </tr>
              {% endfor %}

              <td></td><td></td><td></td><td></td>

              {% for item in online_sell_prices %}
              <tr class="order">
                <td><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></td>
                <td><b style="float: left"> {{ item.name }} </b></td>
                <td>{{ item.price }} <img style="height: 1em;" src="{% static 'img/plat.png' %}" /></td>
                <td><span class="label label-primary" style="float: right"><span>Online</span></span></td>
              </tr>
              <tr class="details">
                <td></td>
                <td>Selling <b>{{ item.count }}</b></td>
                <td>{% if 'mod_rank' in item %}
                Rank <b>{{ item.mod_rank }}/{{ max_rank }}</b>
                {% endif %}</td>
                <td></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        {% else %}
        <div class="panel panel-default">
          <div class="panel-body">
            No current seller data could be found!
          </div>
        </div>
        {% endif %}
      </div>

      <div class="col-md-4">
        {% if ingame_buy_prices and online_buy_prices %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Buyers</h3>
          </div>

          <table class="table table-hover info-row">
            <tbody>
              {% for item in ingame_buy_prices %}
              <tr class="order">
                <td><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></td>
                <td><b style="float: left"> {{ item.name }} </b></td>
                <td>{{ item.price }} <img style="height: 1em;" src="{% static 'img/plat.png' %}" /></td>
                <td><span class="label label-success" style="float: right"><span>In-game</span></span></td>
              </tr>
              <tr class="details">
                <td></td>
                <td>Buying <b>{{ item.count }}</b></td>
                <td>{% if 'mod_rank' in item %}
                Rank <b>{{ item.mod_rank }}/{{ max_rank }}</b>
                {% endif %}</td>
                <td></td>
              </tr>
              {% endfor %}

              <td></td><td></td><td></td><td></td>

              {% for item in online_buy_prices %}
              <tr class="order">
                <td><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></td>
                <td><b style="float: left"> {{ item.name }} </b></td>
                <td>{{ item.price }} <img style="height: 1em;" src="{% static 'img/plat.png' %}" /></td>
                <td><span class="label label-primary" style="float: right"><span>Online</span></span></td>
              </tr>
              <tr class="details">
                <td></td>
                <td>Buying <b>{{ item.count }}</b></td>
                <td>{% if 'mod_rank' in item %}
                Rank <b>{{ item.mod_rank }}/{{ max_rank }}</b>
                {% endif %}</td>
                <td></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        <div class="panel panel-default">
          <div class="panel-body">
            No current buyer data could be found!
          </div>
        </div>
        {% endif %}
      </div>

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Item Details</h3>
          </div>
          <div class="panel-body">
            <a href="http://warframe.wikia.com/wiki/{{ item_name }}" class="btn btn-default btn-lg btn-block">
              <span class="glyphicon glyphicon-book" aria-hidden="true"></span> &nbsp;View on Warframe Wiki
            </a>
            <hr style="width: 80%">

            {% if has_credentials %}
            <form id="order-form" action="/get_item/{{ item_name }}/" method="POST" role="form" style="display: block;">
              {% if err and err != "Valid" %}
                <div class="alert alert-danger">
                  <p><strong>Oh snap!</strong> {{ err }} </p>
                </div>
              {% elif err %}
                <div class="alert alert-success">
                  <p><strong>Bam!</strong> Your order has been placed! </p>
                </div>
              {% endif %}

              {% csrf_token %}

              <div class="btn-group" data-toggle="buttons" id="market_type" name="market_type" style="margin-bottom: 10px">
                <label class="btn btn-lg btn-success active">
                  <input type="radio" name="market_type" autocomplete="off" value="sell" checked> Want to <b>Sell</b>
                </label>
                <label class="btn btn-lg btn-primary">
                  <input type="radio" name="market_type" autocomplete="off" value="buy"> Want to <b>Buy</b>
                </label>
              </div>

              <hr>

              {% render_field order_form.item_name class="form-control" style="display: none" value="item_name" %}

              <div class="input-group {% if order_form.plat.errors %}has-error{% endif %}">
                <span class="input-group-addon">Platinum:</span>
                {% render_field order_form.plat class="form-control" placeholder="Platinum buying/sell this item for" %}
              </div>
              <p style="margin-bottom: 10px"><code>Optional</code> If left blank, will try and beat the lowest online price (either +/- 1)</p>

              <div class="input-group {% if order_form.quantity.errors %}has-error{% endif %}">
                <span class="input-group-addon">Quantity:</span>
                {% render_field order_form.quantity class="form-control" placeholder="How many are you buying/selling?" %}
              </div>
              <p style="margin-bottom: 10px"><code>Optional</code> If left blank, defaults to 1 </p>

              <div class="input-group {% if order_form.rank.errors %}has-error{% endif %}">
                <span class="input-group-addon">Rank:</span>
                {% render_field order_form.rank class="form-control" placeholder="Rank of the item" %}
              </div>
              <p style="margin-bottom: 15px"><code>Optional</code> This is only needed for Mods/Sculptures. If left blank, defaults to rank 0 </p>

              <hr>

              <div class="form-group">
                <input type="submit" name="order-submit" id="order-submit" class="form-control btn btn-success" value="Place Sell Order">
              </div>
            </form>
            </div>
            {% else %}
            <h3 style="margin-top: 30px"> You can't place an order without <a href="/account/">entering</a> your warframe.market credentials </h3>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    {% endif %}
  </center>
</div>

{% endblock %}

{% block extra_scripts %}
<script>
  $( "ul li" ).eq(1).addClass("mm-selected");
</script>
{% endblock %}
