{% extends "components/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block extra_styles %}
  <link href="{% static 'css/auth.css' %}" rel="stylesheet">
{% endblock %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="container">
   <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <div class="panel panel-login">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">

              {% if form.errors %}
                  <div class="alert alert-danger">
                      <p><strong>"Oh snap!</strong> Please enter a correct username and password. Note that both fields are case-sensitive.</p>
                  </div>
              {% endif %}

              <form id="login-form" action="/login/" method="POST" role="form" style="display: block;">

                {% csrf_token %}

                <h2>LOGIN</h2>

                  {% for field in login_form %}
                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                      {% render_field field class="form-control" placeholder=field.label %}
                    </div>
                  {% endfor %}

                  <div class="col-xs-6 form-group pull-left checkbox">
                    <input id="checkbox1" type="checkbox" name="remember">
                    <label for="checkbox1">Remember Me</label>
                  </div>

                  <div class="col-xs-6 form-group pull-right">
                        <input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-login" value="Log In">
                  </div>
              </form>

              <form id="register-form" action="#" method="post" role="form" style="display: none;">
                <h2>REGISTER</h2>

                  {% for field in signup_form %}
                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                      {% render_field field class="form-control" placeholder=field.label %}
                    </div>
                  {% endfor %}

                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit" name="register-submit" id="register-submit" class="form-control btn btn-register" value="Register">
                      </div>
                    </div>
                  </div>

              </form>
            </div>
          </div>
        </div>
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6 tabs">
              <a href="#" class="active" id="login-form-link"><div class="login">LOGIN</div></a>
            </div>
            <div class="col-xs-6 tabs">
              <a href="#" id="register-form-link"><div class="register">REGISTER</div></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
  $(function() {
    $('#login-form-link').click(function(e) {
      $("#login-form").delay(100).fadeIn(100);
    $("#register-form").fadeOut(100);
    $('#register-form-link').removeClass('active');
    $(this).addClass('active');
    e.preventDefault();
  });
  $('#register-form-link').click(function(e) {
    $("#register-form").delay(100).fadeIn(100);
    $("#login-form").fadeOut(100);
    $('#login-form-link').removeClass('active');
    $(this).addClass('active');
    e.preventDefault();
  });

  });

  $( "ul li" ).eq(2).addClass("mm-selected");
</script>
{% endblock %}
