{% extends "components/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
  {{ user.username }} Settings
{% endblock %}

{% block extra_styles %}
  <link href="{% static 'css/settings.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="top">
  <h1 class="title"> Better <b style="font-weight: 900;">Getter</b> </h1>

  <h5 class="subtitle"> built for Warframe </h5>
</div>

<div class="container">
  <center>
    <h1> Settings for {{ user.username }} </h1>
    <div class="row">

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading"> Set up Warframe Market Account </div>

          <div class="panel-body">
            <p>Please enter your email and password for <b>warframe.market</b></p>

            <form id="market-form" action="/account/" method="POST" role="form" style="display: block;">
              {% if market_error %}
                <div class="alert alert-danger">
                  <p><strong>Oh snap!</strong> Your credentials appear to be invalid! </p>
                </div>
              {% endif %}

              {% csrf_token %}

              {% for field in market_form %}
                <div class="form-group {% if field.errors %}has-error{% endif %}">
                  {% render_field field class="form-control" placeholder=field.label autocomplete="off" %}
                </div>
              {% endfor %}

              <div class="col-xs-6 form-group pull-right">
                <input type="submit" name="market-submit" id="market-submit" class="form-control btn btn-success btn-login" value="Submit">
              </div>
            </form>

            <p>NOTE: We will <b>only</b> use your password when you place orders!</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading"> Reset your Password </div>
          <div class="panel-body">
            <div class="input-group" style="margin-bottom: 10px;">
              <span class="input-group-addon">Old Password:</span>
              <input type="password" id="o_password" class="form-control" placeholder="Password">
            </div>

            <div class="input-group" style="margin-bottom: 5px;">
              <span class="input-group-addon">New Password:</span>
              <input type="password" id="password1" class="form-control" placeholder="Password">
            </div>

            <div class="input-group" style="margin-bottom: 10px;">
              <span class="input-group-addon">Confirm Password:</span>
              <input type="password" id="password2" class="form-control" placeholder="Password">
            </div>

            <a href="#" class="btn btn-primary submit">Submit</a>
          </div>
        </div>
      </div>

    </div>
  </center>
</div>

{% endblock %}

{% block extra_scripts %}
<script>
  $( "ul li" ).eq(4).addClass("mm-selected");
</script>
{% endblock %}
