body {
  background: url("../img/bg.4a370c063b65.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  margin-top: 25vh;
}

.info {
  color: white;
  margin-top: 5px;
  text-align: center;
}

.footer {
  position: absolute;
  right: 15px;
  bottom: 10px;
  color: white;
}
